<div class="comment-section" id="comm-section">
  <h3 class="comm-heading">Add a Comment</h3>
  <%= form_for comment, url: blog_comments_path(blog_id: @blog.id), method: :post, remote: true do |f| %>
    <% unless staff_user_signed_in? %>
    <div class="twoformGroups">
      <div class="form-group">
        <%= f.text_field :commenter, class: "form-control", placeholder: "Enter Name", required: true %>
      </div>
      <div class="form-group">
        <%= f.email_field :commenter_email, class: "form-control", placeholder: "Enter Email", required: true %>
      </div>
    </div>
    <% end %>
    <div class="form-group">
      <%= f.text_area :body, class: "form-control", rows: "3", placeholder: "Type your comment here", required: true %>
    </div>
    <div class="btnGroup">
      <span class="cancelBtn">Cancel</span>
      <%= button_tag(type: 'submit', class: "btn btn-default comBtn") do %>
        Publish
      <% end %>
    </div>
  <% end %>
</div>
