<% unless blogs.present? %>
  <div class="row blg-heading">
    <h2>Currently, no blogs available to show.</h2>
  </div>
<% else %>
  <% blogs.each_slice(3) do |sliced_blogs| %>
    <div class='row'>
      <% sliced_blogs.each do |blog| %>
        <div class="col-md-4">
          <div class="blog-list-single">
            <% if @own_profile %>
              <div class="edit-del-blog">
                <ul>
                  <li>
                    <%= link_to(edit_blog_path(id: blog.id), class: "btn btn-primary") do %>
                      <i class="fa fa-edit"></i> Edit
                    <% end %>
                  </li>
                  <li>
                    <%= link_to(blog_path(id: blog.id), method: :delete, class: "btn btn-danger") do %>
                      <i class="fa fa-trash"></i> Delete
                    <% end %>
                  </li>
                </ul>
              </div>
            <% end %>
            <div class="blog-main-image">
              <%= image_tag(blog.featured_image_medium_url) %>
            </div>
            <div class="blg-dt-user-profile">
              <i class="fa fa-calendar"></i> <%= blog.created_at.strftime("%m/%d/%Y") %>
            </div>
            <div class="blog-short-msg blog-title">
              <h3><%= blog.title %></h3>
              <div class="share-video-btn">
                <div class="blg-share-icons">
                  <% BlogsHelper::SHARE_ON.each do |share_on| %>
                      <%= link_to get_share_url(blog, share_on), target: '_blank' do %>
                        <%= get_share_button(share_on) %>
                      <% end %>
                  <% end %>
                </div>
              </div>
              <p>
                <%= formatted_blog_description(blog) %>
              </p>
              <div class="blog-inner-link">
                <%= link_to('Continue Reading', blog_path(id: blog.slug), class: "btn btn-default") %>
              </div>
              <div class="blg-like-comm-counter">
                <div class="blg-like-count" id="likes_<%= blog.id %>">
                  <%= render partial: 'likes/list', locals: { blog: blog } %>
                </div>
                <div class="blg-comm-count">
                  <a href="javascript:void(0);"><i class="fa fa-comments-o"></i></a> <%= blog.comments.count %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
<div class="blg-pagination ajaxPagination">
  <%= will_paginate blogs %>
</div>