<%= render 'shared/blog_header' %>

<div class="main-content">
  <section class="blog-list-main">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="bl-heading">
            <h2>Blogs</h2>
            <!-- TODO: Need to confirm on this description. -->
            <!-- <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters...</p> -->
          </div>
        </div>
        <!-- <div class="col-sm-4">
          <% if @blogs.present? %>
            <div class="blog-search-bar">
              <%= form_tag(blogs_path, method: 'get') do %>
                <div class="input-group">
                  <%= text_field_tag :blog_search_query, params[:blog_search_query], class: "form-control", placeholder: "Search Blog Here" %>
                  <span class="input-group-btn">
                    <%= button_tag(type: 'submit', class: "btn btn-default") do %>
                      <i class="fa fa-search"></i>
                    <% end %>
                  </span>
                </div>
              <% end %>
            </div>
          <% end %>
        </div> -->
      </div>
      <% unless @blogs.present? %>
        <div class="row blg-heading">
          <h2>Currently, no blogs available to show.</h2>
        </div>
      <% else %>
        <% @blogs.each_slice(3) do |sliced_blogs| %>
          <div class="row">
            <% sliced_blogs.each do |blog| %>
              <% blog_user = blog.user %>
              <div class="col-md-4">
                <div class="blog-list-single">
                  <div class="blog-main-image">
                    <%= image_tag (blog.featured_image_large_url) %>
                    <div class="blog-upload-usr-dt">
                      <!-- <div class="blg-dt">
                        <i class="fa fa-calendar"></i> <%= blog.created_at.strftime("%m/%d/%Y") %>
                      </div> -->
                      <div class="blg-dt">
                        <%= blog.created_at.strftime("%m/%d/%Y") %>
                      </div>
                      <div class="blg-user">
                          <div class='user'>I am a user. Move your mouse over me</div>
                          <div class='popup'>
                            Extended info about a user
                            <%= blog_user.role.titleize %>
                          </div>
                        <div class="blg-usr-pro-img">
                            <%= image_tag staff_profile_image(blog_user) %>
                        </div>
                        <div class="blg-usr-nm">
                          <%= link_to( blog_user.name, profile_path_for(blog_user) ) %>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="blog-short-msg blog-title">
                    <%= link_to blog_path(id: blog.slug) do %>
                      <h3><%= blog.title %></h3>
                    <% end %>
                    <p><%= truncate(blog.description, length: 100) %></p>
                    <!-- <div class="share-video-btn">
                      <div class="blg-share-icons">
                        <% BlogsHelper::SHARE_ON.each do |share_on| %>
                            <%= link_to get_share_url(blog, share_on), target: '_blank' do %>
                              <%= get_share_button(share_on) %>
                            <% end %>
                        <% end %>
                      </div>
                    </div>
                    <p>
                      <%= formatted_blog_description(blog) %>
                    </p>
                    <div class="blog-inner-link">
                      <%= link_to("javascript:void(0);", class: "btn btn-default blog-subscribe-btn", remote:true) do %>
                        <i class="fa fa-plus"></i> Subscribe
                      <% end %>
                      <%= link_to('Continue Reading', blog_path(id: blog.slug), class: "btn btn-default") %>
                    </div> -->
                    <div class="blg-like-comm-counter">
                      <div class="blg-like-count" id="likes_<%= blog.id %>">
                        <%= render partial: 'likes/list', locals: { blog: blog } %>
                      </div>
                      <div class="blg-comm-count">
                        <a href="javascript:void(0);"><i class="fa fa-comments-o"></i></a> <%= blog.comments.count %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <div class="blg-pagination">
        <%= will_paginate @blogs %>
      </div>
    </div>
  </section>
</div>

<%= render partial: 'blog_subscribers/blog_subscriber_modal' %>
<%= render 'shared/blog_footer' %>
