<%= render 'shared/blog_header' %>
<div class="main-content">
  <section class="blog-add-main">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <div class="bl-heading">
            <h2>Add Blog</h2>
            <p>Please complete all field below to add blog</p>
          </div>
        </div>
      </div>
      <%= form_for @blog do |f| %>
        <div class="row">
          <div class="col-md-7">
            <div class="form-group">
              <label>Blog Title</label>
              <%= f.text_field :title, class: "form-control", placeholder: "Enter Title Here" %>
              <span class="blg-advice">(Max 60 Letters)</span>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <label>Featured Image</label>
              <div class="upload-file-all">
                <input type="text" name="blog-feat-upload" class="form-control targetFileField" placeholder="Upload Featured Image" readonly>
                <label class="uploadfile-field">
                  <%= f.file_field(:featured_image, class: "form-control") %>
                  <div class="upl-btn"><i class="fa fa-paperclip"></i></div>
                </label>
              </div>
              <span class="blg-advice">(Optional)</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="blog-editor">
              <h3>Editor</h3>
              <div id="editor" class="main-blog-editor">
              <%= f.cktext_area :body, value: @blog.body %>
              </div>
            </div>
            <div class="add-blog-submit-btn">
              <%= button_tag(type: 'submit', class: "btn btn-default") do %>
                Submit
              <% end %>
            </div>
          </div>
        </div>
      <% end %>       
    </div>
  </section>
</div>

<%= render 'shared/blog_footer' %>

<!-- <script src="https://cdn.ckeditor.com/ckeditor5/1.0.0-alpha.2/inline/ckeditor.js"></script> -->

<script>
    InlineEditor
        .create( document.querySelector( '#editor' ) )
        .catch( error => {
            console.error( error );
        } );
</script>
<script>
  $(".uploadfile-field .form-control").change(function(){
    var fileFieldVal = $(this).val().replace(/C:\\fakepath\\/i, '');
    var targetField = $(this).closest(".upload-file-all").find(".targetFileField");
    targetField.val(fileFieldVal);
  })
</script>

