<% content_for :og_meta_tags do %>
  <!-- Open Graph tags -->
  <meta property="fb:app_id" content="<%= ENV['FACEBOOK_KEY'] %>" />
  <meta property="og:title" content="<%= @blog.title %>" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="<%= blog_url(@blog) %>" />
  <meta property="og:description" content="<%= @blog.description %>" />
  <meta property="og:image" content="<%= @blog.featured_image_cloud_front_url %>" />
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="<%= @blog.title %>">
  <meta name="twitter:description" content="<%= @blog.description %>">
  <meta name="twitter:image" content="<%= @blog.featured_image_cloud_front_url %>">
<% end %>

<%= render 'shared/blog_header' %>
  <div class="main-content">
    <section class="blog-inner-main blog-list-main">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="blog-single-bg">
              <div class="blog-single-feat-img">
                <%= image_tag (@blog.featured_image_url(:large)) %>
              </div>
              <div class="blog-upload-usr-dt">
                <div class="blg-dt">
                  <%= @blog.created_at.strftime("%B %d %Y") %>
                </div>
                <div class="blg-like-comm-counter">
                  <div class="blg-like-count" id="likes_<%= @blog.id %>">
                    <%= render partial: 'likes/list', locals: { blog: @blog } %>
                  </div>
                  <div class="blg-comm-count">
                    <a href="javascript:void(0);"<i class="fa fa-comments-o"></i></a> <%= @blog.comments.count %>
                  </div>
                </div>
                <div class="blg-user">
                  <div class="blg-usr-pro-img">
                    <%= image_tag @blog_user.image_url(:staff_medium) %>
                  </div>
                  <div class="blg-usr-nm">
                    <%= link_to( @blog_user.name, profile_path_for(@blog_user) ) %>
                  </div>
                  <div class="blg-usr-desig">
                    <%= @blog_user.role.titleize %>
                  </div>
                </div>
              </div>

              <div class="blog-content-single">
                <div class="blog-inner-add-btn add-blog-btn">
                  <%= link_to(new_blog_subscriber_path, class: "btn btn-default blog-subscribe-btn", remote:true) do %>
                    <i class="fa fa-plus"></i> Subscribe
                  <% end %>
                </div>
                <h1><%= @blog.title %></h1>
                <p><%= @blog.description %></p>
                <%= @blog.body.html_safe %>
                <div class="share-video-btn">
                  <div class="blg-share-heading">
                    <h4><i class="fa fa-share"></i> Share</h4>
                  </div>
                  <div class="blg-share-icons">
                    <% BlogsHelper::SHARE_ON.each do |share_on| %>
                        <%= link_to get_share_url(@blog, share_on), target: '_blank' do %>
                          <%= get_share_button(share_on) %>
                        <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
              <%= render partial: 'comment_form', locals: { comment: @comment } %>
              <div class="user-comments" id="comments_<%= @blog.id %>">
                <%= render partial: 'comments', locals: { comments: @comments } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
<%= render partial: 'blog_subscribers/blog_subscriber_modal' %>
<%= render 'shared/blog_footer' %>
