<%= render 'shared/blog_header' %>
<div class="main-content">
  <section class="edit-blog-profile blog-list-main">
    <div class="container">
      <div class="edit-main-blog-profile">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <div class="col-sm-12">
            <div class="row">
              <div class="bl-heading">
                <h2>Edit Profile</h2>
                <p>To change, complete the fields and click update</p>
              </div>
            </div>
          </div>
          <div class="edit-pro-sub-section">
            <div class="row">
              <div class="col-sm-12">
                <h3>General Details</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Change Profile Picture</label>
                  <div class="upload-file-all">
                    <input type="text" name="blog-feat-upload" class="form-control targetFileField" value="01.jpg" placeholder="Upload Featured Image" readonly>
                    <label class="uploadfile-field">
                      <input type="file" name="blogfeatimage" class="form-control">
                      <div class="upl-btn"><i class="fa fa-paperclip"></i></div>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Change Email</label>
                  <%= f.email_field :email, class: "form-control", placeholder: "Enter Email" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label>Change Location</label>
                  <% address = f.object.address || f.object.build_address %>
                  <%= f.fields_for address do |address_fields| %>
                    <%= address_fields.text_field :city, value: address.city, class: "form-control", placeholder: "Enter Location" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="edit-pro-sub-section">
            <div class="row">
              <div class="col-sm-12">
                <h3>Social Media Links</h3>
              </div>
            </div>
            <% social_media_link = f.object.social_media_link || f.object.build_social_media_link %>
            <%= f.fields_for social_media_link do |link_fields| %>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Facebook Profile</label>
                    <%= link_fields.text_field :facebook, value: social_media_link.facebook, class: "form-control", placeholder: "Enter Facebook Id URL" %>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Twitter Profile</label>
                    <%= link_fields.text_field :twitter, value: social_media_link.twitter, class: "form-control", placeholder: "Enter Twitter Id URL" %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Google Plus Profile</label>
                    <%= link_fields.text_field :google_plus, value: social_media_link.google_plus, class: "form-control", placeholder: "Enter Google Plus Id URL" %>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Linkedin Profile</label>
                    <%= link_fields.text_field :linekdin, value: social_media_link.linekdin, class: "form-control", placeholder: "Enter Linkedin Id URL" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="edit-pro-sub-section">
            <div class="row">
              <div class="col-sm-12">
                <h3>Change Password</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Old Password</label>
                  <%= f.password_field :current_password, class: "form-control", placeholder: "Enter Old Password" %>
                </div>
                <%= errors_for(f, :current_password) %>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>New Password</label>
                  <%= f.password_field :password, class: "form-control", placeholder: "Enter New Password" %>
                </div>
                <%= errors_for(f, :password) %>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Confirm Password</label>
                  <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm New Password" %>
                </div>
                <%= errors_for(f, :password_confirmation) %>
              </div>
            </div>
          </div>
          <div class="edit-pro-submit-btn">
            <div class="row">
              <div class="col-sm-12">
                <%= button_tag(type: 'submit', class: "btn btn-default") do %>
                  Update
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</div>
<%= render 'shared/blog_footer' %>
