
<div id="miniflix_player_<%= movie.id %>" class="js-video-layer">
  <%= render partial: 'shared/jwplayer_config', locals: {movie: movie} %>
  <div id="player_<%= movie.id %>"
          data-embed-type="jwplayer" 
          data-embed-url="video-url"
          data-embed-loaded="false">
    <div itemscope="" itemtype="http://schema.org/VideoObject">
      <div data-embed-url="video-url" class="jw-player"></div>
    </div>
  </div>
  <h3 class="box-title text-blue">
      <%= t('heading.movie') %>
      <% if movie && movie.downloadable %>
          <%= link_to( t('links.download_now'),
                       movie.film_video,
                       class: "" ) %>
      <% end %>
  </h3>
</div>
