<%# Change to series %>
<% thumbnail = @admin_serial.movie_thumbnail  %>

<label for="admin_movie_thumbnails">
  <%= t('contents.serial.upload_serial_screenshots') %>
</label>

<div class="row">
  <div class="col-md-3 col-sm-12">
    <div class="fileupload fileupload-new" data-provides="fileupload">
      <%= link_to("javascript:void(0);", class: 'movie-thumbnail-file-field-wrapper') do %>
        <div class="fileupload-new thumbnail">
          <%= render_thumbnail_image_for( is_edit_mode,
                                          'movie_screenshot_1',
                                          thumbnail.try(:movie_screenshot_1) ) %>
        </div>
        <div class="fileupload-preview fileupload-exists thumbnail"></div>
      <% end %>

      <%= thumbnail_fields.file_field( :movie_screenshot_1,
                                       class: 'default movie-thumbnail-file-field',
                                       id: "movie_screenshot_1",
                                       accept: "image/*" ) %>
    </div>
  </div>

  <div class="col-md-3 col-sm-12">
    <div class="fileupload fileupload-new" data-provides="fileupload">
      <%= link_to("javascript:void(0);", class: 'movie-thumbnail-file-field-wrapper') do %>
        <div class="fileupload-new thumbnail">
          <%= render_thumbnail_image_for( is_edit_mode,
                                          'movie_screenshot_2',
                                          thumbnail.try(:movie_screenshot_2) ) %>
        </div>

        <div class="fileupload-preview fileupload-exists thumbnail"></div>
      <% end %>

      <%= thumbnail_fields.file_field( :movie_screenshot_2,
                                       class: 'default movie-thumbnail-file-field',
                                       id: "movie_screenshot_2",
                                       accept: "image/*" ) %>
    </div>
  </div>
  <div class="col-md-3 col-sm-12">
    <div class="fileupload fileupload-new" data-provides="fileupload">
      <%= link_to("javascript:void(0);", class: 'movie-thumbnail-file-field-wrapper') do %>
        <div class="fileupload-new thumbnail">
          <%= render_thumbnail_image_for( is_edit_mode,
                                          'movie_screenshot_3',
                                          thumbnail.try(:movie_screenshot_3) ) %>
        </div>
        <div class="fileupload-preview fileupload-exists thumbnail"></div>
      <% end %>

      <%= thumbnail_fields.file_field( :movie_screenshot_3,
                                       class: 'default movie-thumbnail-file-field',
                                       id: "movie_screenshot_3",
                                       accept: "image/*" ) %>
    </div>
  </div>
</div>
