<%# First page of series upload %>
<%# <%= javascript_include_tag 'admin/series' %>

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <%= t('heading.admin_series') %>
  </h1>
</section>

<!-- Main content -->
<section class="content choose-series-section">
    <div class="row">
        <div class="col-xs-12">
          <div class="box content-container">
            <div class="box-header">
              <div class="row">
                <div class="col-lg-12 col-xs-12">
                  <h3 class="box-title"><%= t('heading.series') %></h3>
                  <p class="box-subtitle">Upload</p>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box box-primary">
                <div class="box-body">
                  <% if @admin_serial %>
                    <% if @admin_serial.errors.any? %>
                      <div class="row">
                          <div class="col-md-12">
                            <div class="box box-default">
                              <div class="box-body">
                              <%# Change messages to choose series errors %>
                                <% @admin_serial.errors.full_messages.each do |message| %>
                                  <div class="callout callout-success">
                                    <p><%= message %></p>
                                  </div>
                                <% end %>
                              </div>
                              <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                          </div>
                      </div>
                    <% end %>
                  <% end %>
                  <div class="form-group">
                      <select class="form-control valid" id="series_admin" aria-required="true" aria-invalid="false" onchange="window.location.href=this.value;">
                          <option value selected>Choose Series</option>
                          <%= @serials.each do |serial| %>
                            <option value="<%= new_admin_movie_path(serial_id: serial.id)%>"><%= serial.title %></option>
                          <%end%>
                      </select>
                      <div class="errors-container" id="errors">
                          <p>Please, choose the series</p>
                      </div>
                  </div>
                  <%= link_to new_admin_serial_path, data: { turbolinks: false } do %>
                    <div class="add-series-container">
                        <i class="fa fa-plus"></i>
                        <p class="add-series-text">Add New Series</p>
                    </div>
                  <% end %>
                  <%= link_to 'Cancel', admin_serials_path, class: "btn btn-primary", id:"continue-btn"%>

              </div>
            </div>
            <!-- /.box-body -->
          </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
</section>
<!-- /.content -->
