<% released_date = @provider_movie.released_date ? @provider_movie.released_date.strftime("%m/%d/%Y") : "" %>
<% posted_date = @provider_movie.posted_date ? @provider_movie.posted_date.strftime("%m/%d/%Y") : "" %>
<% movie_thumbnail = @provider_movie.movie_thumbnail %>
<% form_css_class = is_edit_mode ? 'edit_movie_frm' : 'add_movie_details_frm' %>

<div class="row">
<div class="col-lg-2 col-xs-12"></div>
<div class="col-lg-8 col-xs-12">

<div class='upload-trailer-block'>
  <% if (is_edit_mode && !@provider_movie.has_trailer?) %>
    <%= render( partial: 'upload_trailer', locals: { movie: @provider_movie, is_edit_mode: true } ) %>
  <% end %>
</div>

<!-- form start -->
<%= form_for( [:provider, @provider_movie],
              html: { id: "frm_provider_movie",
                      class: form_css_class,
                      multipart: true } ) do |f| %>
  <% if @provider_movie.errors.any? %>
    <div class="row">
      <div class="col-md-12">
        <div class="box box-default">
          <div class="box-body">
            <% @provider_movie.errors.full_messages.each do |message| %>
              <div class="callout callout-success">
                <p><%= message %></p>
              </div>
            <% end %>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>
  <% end %>

  <%= f.hidden_field :kind %>

  <div class="row">
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="">
          <div class="">
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field( :name,
                                class: "form-control",
                                placeholder: t('placeholder.movie.name') ) %>
            </div>

            <div class="form-group">
              <%= f.label :title %>
              <%= f.text_field( :title,
                                class: "form-control",
                                placeholder: t('placeholder.movie.title') ) %>
            </div>

            <div class="form-group">
              <%= f.label :description %>
              <%= f.text_area( :description,
                               rows: 5,
                               class: "form-control",
                               placeholder: t('placeholder.movie.description') ) %>
            </div>

            <div class="form-group">
              <%= f.label :admin_genre_id %>
              <%= f.collection_select( :admin_genre_id,
                                       Genre.alfa_order,
                                       :id,
                                       :name,
                                       { include_blank: t(:SelectGenre) },
                                       class: "form-control" ) %>
            </div>

            <div class="form-group">
              <%= fields_for :movie_thumbnail, movie_thumbnail do |thumbnail_fields| %>
                <div class="row">
                  <div class="col-md-9 col-sm-12">
                    <%= render( partial: 'set_movie_screenshots',
                                locals: { movie: @provider_movie,
                                          is_edit_mode: is_edit_mode,
                                          thumbnail_fields: thumbnail_fields } ) %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <%= render( partial: 'set_thumbnail_screenshots',
                                locals: { movie: @provider_movie,
                                          is_edit_mode: is_edit_mode,
                                          thumbnail_fields: thumbnail_fields } ) %>
                  </div>
                </div>
              <% end %>
            </div>

            <div class="form-group">
              <%= f.label :video_type %>
              <%= f.text_field( :video_type,
                                class: "form-control",
                                placeholder: t('placeholder.movie.video_type') ) %>
            </div>

            <div class="form-group">
              <%= f.label :video_size %>
              <%= f.text_field( :video_size,
                                class: "form-control",
                                placeholder: t('placeholder.movie.video_size') ) %>
            </div>

            <div class="form-group">
              <%= f.label :video_duration %>
              <%= f.text_field( :video_duration,
                                class: "form-control",
                                minlength: 8,
                                placeholder: t('placeholder.movie.video_duration') ) %>
            </div>

            <div class="form-group">
              <%= f.label :video_format %>
              <%= f.select( :video_format,
                            supported_video_formats_map,
                            { include_blank: t(:SelectVideoFormat) },
                            class: "form-control" ) %>
            </div>

            <div class="form-group">
              <%= f.label :directed_by %>
              <%= f.text_field( :directed_by,
                                class: "form-control",
                                placeholder: t('placeholder.movie.directed_by') ) %>
            </div>

            <div class="form-group">
              <%= f.label :released_date %>
              <%= f.text_field( :released_date,
                                class: "form-control date-picker",
                                placeholder: t('placeholder.movie.released_date'),
                                value: released_date ) %>
            </div>

            <div class="form-group">
              <%= f.label :language %>
              <%= f.text_field( :language,
                                class: "form-control",
                                placeholder: t('placeholder.movie.language') ) %>
            </div>

            <div class="form-group">
              <%= f.label :posted_date %>
              <%= f.text_field( :posted_date,
                                class: "form-control date-picker",
                                placeholder: t('placeholder.movie.posted_date'),
                                value: posted_date ) %>
            </div>

            <div class="form-group">
              <%= f.label :star_cast %>
              <%= f.text_field( :star_cast,
                                class: "form-control",
                                placeholder: t('placeholder.movie.star_cast') ) %>
            </div>

            <div class="form-group">
              <%= f.label :actors %>
              <%= f.text_field( :actors,
                                class: "form-control",
                                placeholder: t('placeholder.movie.actors') ) %>
            </div>

            <div class="form-group">
              <%= f.label :festival_laureates %>
              <%= f.text_field( :festival_laureates,
                                class: "form-control",
                                placeholder: t('placeholder.movie.festival_laureates') ) %>
            </div>

            <div class="form-group">
              <label for="movie_downloadable">
                <%= f.check_box :downloadable, { class: 'minimal' }, true, false %>
                <%= t('contents.movie.provider_movie_downloadable') %>
              </label>
            </div>

            <div class="form-group">
              <label for="provider_movie_is_featured_film">
                <%= f.check_box :is_featured_film, { class: 'minimal' }, true, false %>
                <%= t('contents.movie.provider_movie_is_featured_film') %>
              </label>
            </div>

          </div>
          <!-- /.box-body -->

          <div class="box-footer mt10">
            <%= f.submit nil, class: "btn btn-flat btn-black", style: "width: 25%" %>
            <%= link_to t('links.cancel'), provider_movies_path, class: "ml10 btn btn-flat btn-black", style: "width: 25%" %>
          </div>
      </div>
      <!-- /.box -->
    </div>
  </div>
<% end %>

</div>
</div>
