<% is_edit_mode = true %>
<div class="pt20">
  <div class="pull-left"><h4><%= t('label.movie.add_movie_thumbnails') %></h4></div>
  <div class="pull-right" style="padding-top: 10px;">4/5 steps</div>
</div>

<div class="row mt40">
  <% [:thumbnail_screenshot, :thumbnail_640_screenshot, :thumbnail_800_screenshot].each do |thumb| %>
    <div class="mt10">
      <div class="fileupload fileupload-new" data-provides="fileupload" style="width: 200px; margin: 0 auto;">

        <%= link_to("javascript:void(0);", class: 'movie-thumbnail-file-field-wrapper') do %>
          <div class="fileupload-new thumbnail">
            <%= render_thumbnail_image_for( is_edit_mode, thumb.to_s, thumbnail.try(thumb) ) %>
          </div>
        <% end %>

        <%= thumbnail_fields.file_field(
                thumb,
                class: 'default movie-thumbnail-file-field',
                id: thumb.to_s,
                accept: "image/*",
                required: !thumbnail.try(thumb).path.present? ) %>

        <label id="<%= thumb.to_s.gsub('screenshot', 'error') %>" class="cust_error" style="color: red;"></label>
      </div>
    </div>
  <% end %>
</div>
