<% hide_next_link = !@provider_movie.persisted? %>
<% hide_prev_link ||= false %>

<h3 class="provider-title provider-upload-title">
  <strong>
    <% unless hide_prev_link %>
      <% url = get_url_for_previous_page(params) %>
      <a class="previous-stage" href="<%= url %>" title="Go to previous step">
        <%= image_tag('provider/back.svg', alt: 'back icon', class: "icon arrow-back")  %>
      </a>
    <% end %>
    <span class="pl100"><%= ['new', 'show'].include?(action_name) ? 'Add' : 'Edit' %> Movie</span>
    <% unless hide_next_link %>
      <% url = get_url_for_next_page(params) %>
      <a class="next-stage next-validation" href="javascript:void(0)" data-link='<%= url %>' title="Jump to next step">
        <%= image_tag('provider/back.svg', alt: 'next icon', class: "icon arrow-next")  %>
      </a>
    <% end %>
  </strong>
</h3>