<% movie = @provider_movie %>
<% thumbnail = movie.movie_thumbnail %>

<section class="content-for-provider p20">

<div class="row js-add-sshots-wrapper">

  <div class="col-lg-4 col-xs-12"></div>
  <div class="col-lg-4 col-xs-12 p20">

  <%= render partial: 'title_and_prev_link' %>

  <%= form_for movie, scope: :movie, url: provider_movie_path(:add_thumbnails, slug: movie.slug), method: :put, local: true, html: {id: "frm_admin_movies_thumbnail", class: 'pt40 edit_movie_frm', multipart: true} do |f| %>

    <%= f.hidden_field :kind, value: movie.kind %>

    <div class="form-group">
        <div class="row">
          <div class="col-md-9 col-sm-12">

          <%= fields_for :movie_thumbnail, movie.movie_thumbnail, scope: :movie do |tf| %>
            <%= render( partial: 'set_movie_thumbnails', locals: {thumbnail_fields: tf, thumbnail: thumbnail } ) %>
          <% end %>

            <div class="form-footer pt20">
              <a id="upload_thumbnails" style="width: 95%; margin: 20px 12px;" class="btn btn-flat btn-black">Continue</a>
              <%#= f.button 'Continue',  "data-disable-with": "Saving...", class: "btn btn-flat btn-black", type: 'submit' %>
            </div>

          </div>
        </div>
    </div>



  <% end %>

  </div>

  <div class="col-lg-4 col-xs-12"></div>

</div>
</section>