<!-- Content Header (Page header) -->
<section class="content-header pl40">
  <h1>
    <%= t('heading.movies') %>
  </h1>
</section>

<!-- Main content -->
<section class="content p20" style="min-height: 100%;">
  <div class="row p20">
    <div class="col-xs-12">

      <%#= render( partial: 'shared/flash_notification', locals: { notice: notice } ) %>
      
      <div class="row">

        <div class="col-lg-6 col-xs-12">
          <div class="col-lg-2 col-xs-12">
            <div class="sort-links">
              <strong>Genre</strong>&nbsp;
              <span class="js-sort-dir" data-sortby="genre" data-order="<%= params[:order] || 'desc' %>">
                <i class="fa fa-sort-<%= @dir[:genre] == 'asc' ? 'up' : 'down' %>"></i>
              </span>
            </div>
          </div>
          <div class="col-lg-2 col-xs-12">
            <div class="sort-links">
              <strong>Year</strong>&nbsp;
                <span class="js-sort-dir" data-sortby="year" data-order="<%= params[:order] || 'desc' %>">
                  <i class="fa fa-sort-<%= @dir[:year] == 'asc' ? 'up' : 'down' %>"></i>
                </span>
            </div>
          </div>
          <div class="col-lg-3 col-xs-12">
            <div class="sort-links">
              <strong>Rent Price</strong>&nbsp;
                <span class="js-sort-dir" data-sortby="rent_price" data-order="<%= params[:order] || 'desc' %>">
                  <i class="fa fa-sort-<%= @dir[:rent_price] == 'asc' ? 'up' : 'down' %>"></i>
                </span>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-xs-12" style="position: relative;">
          <i class="fa fa-search" style="position: absolute; top: 50%; left: 25px; margin-top: -7px;"></i> 
          <input type="text" class="js-film-search" value="<%= params[:search] %>"  
                 style="width: 80%; height: 36px; padding-left: 30px; background: #E0E0E0; border:0; outline: 0" placeholder="Search" />
        </div>

        <div class="col-lg-2 col-xs-12">
          <%= link_to( 'Upload',
                       new_provider_movie_path,
                       class: "btn btn-flat btn-black btn-block",
                       method: :get ) %>
        </div>

      </div>
    </div>

          <div class="row">
            <div class="col-md-12">
              <div class="">
                <div class="box-body">
                  <section id="">

                    <table id="tbl_provider_movies" class="table table-hover">
                      <thead>
                        <tr>
                          <th><%= t('table.movies.name') %></th>
                          <th><%= t('table.movies.genre') %></th>
                          <th><%= t('table.movies.year') %></th>
                          <th><%= t('table.movies.audio') %></th>
                          <th><%= t('table.movies.producer') %></th>
                          <th><%= t('table.movies.rent_price') %></th>
                          <th></th>
                        </tr>
                      </thead>

                      <tbody>
                        <% @provider_movies.each do |movie| %>
                          <tr>
                            <td data-title="Name"><%= movie.name %></td>
                            <td data-title="Genre"><%= movie.genre&.name %></td>
                            <td data-title="Year"><%= movie.released_date&.year %></td>
                            <td data-title="Audio"><%= movie.language %></td>
                            <td data-title="Producer"><%= movie.directed_by %></td>
                            <td>0.00</td>
                            <td>
                              <div class="dropdown show">
                                <a class="btn btn-secondary dropdown-toggle" 
                                   href="#" role="button" id="dropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <i class="fa fa-ellipsis-v"></i>
                                </a>

                                <div class="dropdown-menu movie-actions" 
                                     style="overflow: show; min-height: 100px; padding: 10px; left: -50px; min-width: 120px;" aria-labelledby="dropdownMenuLink">
                                  <%= link_to provider_movie_path(movie.id, kind: 'movie') do %>
                                    View on Miniflix
                                  <% end %><br/>
                                  <%= link_to edit_provider_movie_path(movie.id), data: { turbolinks: false } do %>
                                     Edit
                                  <% end %><br/>
                                  <%= link_to( provider_movie_path(movie.id, kind: 'movie'),
                                           method: :delete,
                                           data: { confirm: t('confirm.are_you_sure') } ) do %>
                                    Delete
                                    <% end %><br/>
                                </div>
                              </div>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>

                  </section>
                </div>
              </div>
            </div>
          </div>


  </div>
  <!-- /.row -->
</section>
<!-- /.content -->

