  <ol class="breadcrumb">

    <i class="fa fa-fw fa-film"></i>
    <%= link_to t('heading.series'), admin_serials_path  %> /
    <%= link_to Serial.find_by(id: params[:serial_id])&.title, admin_serial_path(params[:serial_id]) %> /
    <%= link_to admin_episodes_path(serial_id: params[:serial_id]), method: :get do %>
      <i class="fa fa-fw fa-file-movie-o"></i> <span><%= t('heading.episode') %></span>
    <% end %>
    <li>  </li>
    <li class="active"><%= t("heading.#{params[:action]}") %></li>
  </ol>
