<div class="mt20">
  <h4 class="box-title">
      <%= t('heading.movie') %>
  </h4>
  <div id="movie_player_<%= movie.id %>"
          class="js-video-layer"
          data-embed-type="jwplayer" 
          data-embed-url="video-url"
          data-embed-loaded="false">
    <%= render partial: 'shared/jwplayer_config', locals: {movie: movie} %>
    <div itemscope="" itemtype="http://schema.org/VideoObject">
      <div id="mfx_jw_player_<%= movie.id %>" data-embed-url="video-url" class="jw-player"></div>
    </div>
  </div>
</div>

<% if movie.has_trailer? %>
<div class="mt40">
  <h4 class="box-title">
    <%= t('heading.movie_trailer') %>
  </h4>
  <div id="trailer_player_<%= movie.movie_trailer.id %>"
       class="js-video-layer"
       data-embed-type="jwplayer"
       data-embed-url="video-url"
       data-embed-loaded="false">
    <%= render partial: 'shared/jwplayer_config', locals: {movie: movie.movie_trailer} %>
    <div itemscope="" itemtype="http://schema.org/VideoObject">
      <div id="mfx_jw_trailer_player_<%= movie.movie_trailer.id %>" data-embed-url="video-url" class="jw-player"></div>
    </div>
  </div>
</div>
<% end %>
