<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-body">
        <div class="row">
          <div class="col-md-12">
            <% if movie_caption.present? && movie_caption.errors.any? %>
              <div class="alert alert-danger" id="error_msg">
                <% movie_caption.errors.each do |attr, msg| %>
                  <li><%= msg %></li>
                <% end %>
              </div>
            <% end %>
            <div class="alert alert-success" id="success_msg" style="display: none;">
            </div>
          </div>
        </div>
        <div class="row" style="display: none;" id="progress-bar">
          <div class="col-sm-11 col-xs-10">
            <!-- Progress bars -->
            <div class="progress">
              <div class="progress-bar progress-bar-green" id="v_u_progress_bar"></div>
            </div>
          </div>
          <div class="col-sm-1 col-xs-2 p-l-0" id="v_u_percent">
          </div>
        </div>
         <%= form_for( movie_caption,
                       url: admin_movie_movie_caption_path(admin_movie, movie_caption),
                       method: "put" ) do |f|%>

          <% if movie_caption.language.present? %>
            <div class="form-group">
              <%= f.file_field :caption_file, class: "form-control" %>
            </div>

            <label> Language: <%= movie_caption.language %> </label>

          <% else %>
            <div class="form-group">
              <%= f.select :language, options_for_select(language_list_for(admin_movie, movie_caption)),{}, { class: "form-control", "data-placeholder": "Select language"} %>
            </div>
          <% end %>

          <div class="form-check">
            <label class="form-check-label">
              <%= f.check_box :status, class: "form-check-input"%>
              Want to show in caption list of video?
            </label>
          </div>

          <div class="form-check">
            <label class="form-check-label">
              <%= f.check_box :is_default, class: "form-check-input #{check_for_default_caption(admin_movie)}"%>
              Make Default <i> (Default caption show when video start) </i>
            </label>
          </div>
          <%= f.submit "Save", class:"btn btn-primary" %>

          <%= f.submit "Save & Add other caption file", class:"btn btn-primary pull-right" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
