<section class="content p20">

<h3 class="pl20"><strong> Settings</strong></h3>

<div class="settings-menu mt10">
<ul class="nav nav-tabs">
  <li class="nav-item active">
    <a class="nav-link active" id="profile-tab" rel="#profile_tab">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="password-tab" rel="#password_tab">Password</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="collection-tab" rel="#collection_tab">Collection</a>
  </li>
</ul>
</div>
<div class="tab-content mt10 p20" id="myTabContent">

  <div class="tab-pane active" id="profile_tab" role="tabpanel" aria-labelledby="profile-tab">
 
    <div class="tab-content-wrapper" style="width: 25%;">
      <div class="avatar-wrapper" style="width: 120px">
        <div><%= image_tag(current_user.profile_image_url, alt: "User Image", class: "user-image") %></div>
        <div id="avatar_change_link"><a onclick="$('#avatar_field').click();">Change photo</a></div>
      </div>

      <%= form_with url: provider_user_registration_path(current_user), method: :put do |f| %>
        <%#= devise_error_messages! %>

        <%= f.hidden_field :category, value: 'content_provider' %>
        <%= f.file_field :image, id:"avatar_field", style: "display: none" %>

        <section>
          <div class="field">
            <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: ' Enter your name' %>
          </div>

          <div class="field">
            <%= f.email_field :email, autocomplete: "email", placeholder: ' Enter e-mail' %>
          </div>

          <div class="field">
            <%= f.text_field :phone_number, autocomplete: "phone", placeholder: ' Specify phone number' %>
          </div>

          <div class="field">
            <%= f.submit "Save", class: 'btn btn-flat btn-black btn-block' %>
          </div>
        </section>
      <% end %>
    </div>
  </div>


  <div class="tab-pane" id="password_tab" role="tabpanel" aria-labelledby="password-tab">
    <div class="tab-content-wrapper" style="width: 25%;">
      <%= form_with url: provider_user_registration_path(current_user), method: :put do |f| %>
        <section>
          <div class="field">
            <%= f.password_field :current_password, autocomplete: "off", placeholder: ' Current password' %>
          </div>
          <div class="field">
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", placeholder: ' Specify password' %>
          </div>
          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: ' Confirm password' %>
          </div>
          <div class="field">
            <%= f.submit "Save", class: 'btn btn-flat btn-black btn-block' %>
          </div>
        </section>
      <% end %>
    </div>
  </div>
  <div class="tab-pane" id="collection_tab" role="tabpanel" aria-labelledby="collection-tab">...</div>
</div>

</section>

