<section class="content settings-tab">

<h3 class="pl20"><strong> Settings</strong></h3>

<div class="settings-menu mt10">
<ul class="nav nav-pills">
  <li class="nav-item active">
    <a href="#profile_tab" data-turbolinks="false" class="nav-link active">Profile</a>
  </li>
  <li class="nav-item">
    <a href="#password_tab" data-turbolinks="false" class="nav-link">Password</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#collection_tab" data-turbolinks="false">Collection</a>
  </li>
</ul>
</div>
<div class="tab-content mt10 p20" id="myTabContent">

  <div class="tab-pane active" id="profile_tab" role="tabpanel" aria-labelledby="profile-tab">
 
    <div class="tab-content-wrapper" style="width: 25%;">
      <div class="avatar-wrapper-2">
        <div><%= image_tag(current_user.profile_image_url, alt: "User Image", class: "js-avatar user-image-2") %></div>
      </div>
      <div id="avatar_change_link"><a onclick="$('#avatar_field').click();">Change photo</a></div>

      <%= form_with model: current_user, scope: 'provider', url: provider_settings_path + '/' + current_user.id.to_s, method: :put do |f| %>
        <%#= devise_error_messages! %>

        <%= f.hidden_field :category, value: 'content_provider' %>
        <%= f.hidden_field :id %>

        <%= f.file_field :image, id:"avatar_field", style: "display: none" %>

        <section>
          <div class="field">
            <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: ' Enter your name', required: true %>
          </div>

          <div class="field">
            <%= f.email_field :email, autocomplete: "email", placeholder: ' Enter e-mail', required: true %>
          </div>

          <div class="field">
            <%= f.text_field :phone_number, autocomplete: "phone", placeholder: ' Specify phone number' %>
          </div>

          <div class="field">
            <%= f.submit "Save",  data: { "disable-with": "Saving..." }, class: 'btn btn-flat btn-black btn-block' %>
          </div>
        </section>

        <span class="errors help-block"><ul></ul></span>
      <% end %>
    </div>
  </div>


  <div class="tab-pane" id="password_tab" role="tabpanel" aria-labelledby="password-tab">
    <div class="tab-content-wrapper" style="width: 25%;">
      <%= form_with model: current_user, scope: 'provider', url: provider_settings_path + '/' + current_user.id.to_s, method: :put do |f| %>
        <section>
          <div class="field">
            <%= f.password_field :current_password, autocomplete: "off", placeholder: ' Current password', required: true  %>
          </div>
          <div class="field">
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", placeholder: ' Specify password', required: true  %>
          </div>
          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: ' Confirm password', required: true  %>
          </div>
          <div class="field">
            <%= f.submit "Save", data: { "disable-with": "Saving..." }, class: 'btn btn-flat btn-black btn-block' %>
          </div>
        </section>
        <span class="errors help-block"><ul></ul></span>
      <% end %>
    </div>
  </div>
  
  <div class="tab-pane" id="collection_tab" role="tabpanel" aria-labelledby="collection-tab">

      <div class="row pt20">

        <div class="col-lg-4 col-xs-12">
          <div class="col-lg-4 col-xs-12">
            <div class="circle" style="height: 80px; width: 80px; border: 2px solid lightgray; border-radius: 40px;">
                <div style="padding: 20px; font-size: 150%; font-weight: 900;"><span id="general_rental_price">95</span>%</div>
            </div>            
          </div>
          <div class="col-lg-8 col-xs-12">
            <h3>Your rental option</h3>
            <strong>you take home 95% we take 5%</strong>
          </div>
        </div>
      </div>


  </div>
</div>

</section>

