<%= render 'shared/blog_header' %>
<div class="main-content">
  <section class="home-slider-sub signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <div class="hss-cont">
            <h2>Reset Password?</h2>
            <span>Fill the details to complete the process.</span>
          </div>
        <div>

        <% unless flash[:alert].blank? %>
          <div class="row">
            <div class="col-md-12">
              <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <%= flash[:alert] %>
              </div>
            </div>
          </div>
        <% end %>

        <div class="forgot-pass-form signup-form">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.hidden_field :reset_password_token %>
            <div class="form-group">
              <div>
                <label for="exampleInputEmail1"> Password </label><br>
                <%= f.password_field :password, autofocus: true, autocomplete: "off", required: true, placeholder: "Enter password", class: "form-control" %>
                <%= errors_for(f, :password) %>
              </div>
            </div>
            <div class="form-group">
              <div>
                <label for="exampleInputEmail1"> Confirm Password </label><br>
                <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Enter Confirm password", class: "form-control", required: true %>
                <%= errors_for(f, :password_confirmation) %>
              </div>
            </div>
            <%= button_tag(type: 'submit', class: "btn btn-default") do %>
              Reset Password
            <% end %>
          <% end %>
        </div>
      </div>
      </div>
     </div>
    </div>
  </section>
</div>
<%= render 'shared/blog_footer' %>
