<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="ftr-sub">
          <ul>
            <li>
              <%= link_to 'About Miniflix', get_static_page_url_for('about_us') %>
            </li>
            <li>
              <%= link_to "Submit a Film", "mailto:info@miniflix.tv?subject=Film submission" %>
            </li>
            <li>
              <%= link_to "info@miniflix.tv", "mailto:info@miniflix.tv?subject=Hello Miniflix!" %>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="ftr-sub">
          <ul>
            <li>
              <%= link_to 'Help Center', get_static_page_url_for('help_center') %>
            </li>
            <li>
              <%= link_to 'Term of services', get_static_page_url_for('term_of_services') %>
            </li>
            <li>
              <%= link_to 'Privacy Policy', get_static_page_url_for('privacy_policy') %>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-12">
        <div class="ftr-sub ftr-social">
          <ul>
            <li>
              <%= link_to "https://twitter.com/miniflixtv", target: '_blank' do %>
                <i class="fa fa-twitter"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "https://www.facebook.com/miniflix", target: '_blank' do %>
                <i class="fa fa-facebook-official"></i>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="ftr-sub">
          <div class="download-link">
            <div class="row no-mp">
              <div class="col-xs-7 no-mp">
                <%= telephone_field_tag 'contact_num',
                                        nil,
                                        id: 'contact_number',
                                        class: 'custom-form-control mobile-number',
                                        placeholder: "+1",
                                        required: "true",
                                        data: { 'target-url' => send_download_link_path } %>
              </div>
              <div class="col-xs-5 no-mp">
                <%= submit_tag "Send download link", class: "btn btn-secondary send_dl_btn" %>
              </div>
            </div>
          </div>
          <div class="app-download">
            <span>
              <%= link_to image_tag( 'down-app.png',
                                     class: 'img-responsive',
                                     alt: 'app store' ),
                                     "https://itunes.apple.com/us/app/miniflix/id1207184797?mt=8",
                                     target: '_blank' %>
            </span>
            <span>
              <%= link_to image_tag( "down-play.png",
                                     class: "img-responsive",
                                     alt: "google play" ),
                                     "https://play.google.com/store/apps/details?id=com.entertainment.MiniFlix&hl=en",
                                     target:"_blank" %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
