<div id="jwPlayerConfigContainer" data-hls-file="https://s3-us-west-1.amazonaws.com/<%= ENV['S3_OUTPUT_BUCKET']%>/<%= @admin_movie.version_file %>" data-original-file = "<%= @admin_movie.film_video %>" data-trailer-file = "<%= @admin_movie.movie_trailer.try(:file) %>" data-jwplayer-key="<%= ENV['JW_PLAYER_KEY'] %>" style="display: none;" ></div>
