<% genre_id = @admin_genre.try(:id) || 0 %>
<!-- form start -->
<%= form_for( [:marketing_staff, @admin_genre],
              html: { id: 'frm_admin_genre',
                      data: { 'check-name-url' => check_genre_name_marketing_staff_genres_path(id: genre_id) } } ) do |f| %>
  <% if @admin_genre.errors.any? %>
    <div class="row">
      <div class="col-md-12">
        <div class="box box-default">
          <div class="box-body">
            <% @admin_genre.errors.full_messages.each do |message| %>
              <div class="callout callout-success">
                <p><%= message %></p>
              </div>
            <% end %>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <%= render '/seo_meta/form', :form => f %>

        <div class="box-footer">
          <%= f.submit nil,class: "btn btn-primary" %>
          <%= link_to 'Cancel', marketing_staff_genres_path, class: "btn btn-default" %>
        </div>
      </div>
      <!-- /.box -->
    </div>
  </div>
<% end %>


<div class="row">
  <div class="col-xs-12">
    <div class="box-header">
      <div class="row">
        <div class="col-lg-10 col-xs-12">
          <h3 class="box-title">
            <%= t('heading.view_admin_genre_details') %>
          </h3>
        </div>
      </div>
    </div>
    <!-- /.box-header -->
    <%= render( partial: 'admin/genres/genre_deatils', locals: { genre: @admin_genre } ) %>
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
