<% genre_id = @admin_genre.try(:id) || 0 %>
<!-- form start -->
<%= form_for( [:admin, @admin_genre],
              html: { id: 'frm_admin_genre',
                      data: { 'check-name-url' => check_genre_name_admin_genres_path(id: genre_id) } } ) do |f| %>
  <% if @admin_genre.errors.any? %>
    <div class="row">
      <div class="col-md-12">
        <div class="box box-default">
          <div class="box-body">
            <% @admin_genre.errors.full_messages.each do |message| %>
              <div class="callout callout-success">
                <p><%= message %></p>
              </div>
            <% end %>         
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-primary">
          <div class="box-body">
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, class: "form-control", placeholder: t('placeholder.genre.name'), required: true %>
            </div>
          </div>
          <div class="box-body">
            <div class="form-group">
              <%= f.label :color %>
              <%= f.text_field :color, class: "form-control", placeholder: t('placeholder.genre.color'), required: true %>
            </div>
          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <%= f.submit nil,class: "btn btn-primary" %>          
            <%= link_to 'Cancel', admin_genres_path, class: "btn btn-default" %>
          </div>
      </div>
      <!-- /.box -->
    </div>
  </div>
<% end %>
