<div class="box-body">
  <p>
    <strong><%= t('label.genres.id') %></strong>
    <%= genre.id %>
  </p>
</div>

<div class="box-body">
  <p>
    <strong><%= t('label.genres.name') %></strong>
    <%= genre.name %>
  </p>
</div>

<div class="box-body">
  <p>
    <strong><%= t('label.genres.color') %></strong>
    <%= genre.color %>
  </p>
</div>

<div class="box-body">
  <p>
    <strong><%= t('label.genres.available_movies') %></strong>
    <%= genre.movies.count %>
  </p>
</div>

<div class="box-body">
  <p>
    <strong><%= t('label.genres.description') %></strong>
    <%= genre.description %>
  </p>
</div>