<div class="box-body">
  <p>
    <strong><%= t('label.seo_meta.genres.browser_title') %></strong>
    <%= seo_meta.browser_title %>
  </p>
</div>

<div class="box-body">
  <p>
    <strong><%= t('label.seo_meta.genres.meta_description') %></strong>
    <%= seo_meta.meta_description %>
  </p>
</div>

<div class="box-body">
  <p>
    <strong><%= t('label.seo_meta.genres.meta_keywords') %></strong>
    <%= seo_meta.meta_keywords %>
  </p>
</div>
