<div class="login-box">

  <div class="login-box-body">
    <div class="login-logo mb20">
      <div class="mb20"><%= image_tag('logo.png') %></div>
      <strong style="font-size: 18px">Miniflix Content Provider</strong>
    </div>
    <h4 class="login-box-msg">Sign in to start your session</h4>
    <%= form_for(resource, as: resource_name, url: provider_user_session_path) do |f| %>
      <%= f.hidden_field :category, value: 'content_provider' %>
      <% if !flash[:error].blank? %>
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <%= flash[:error] %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="form-group has-feedback">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <%= f.email_field :email, class: "form-control", placeholder: t('placeholder.user.email'), required: true %>
      </div>
      <div class="form-group has-feedback">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <%= f.password_field :password, class: "form-control", placeholder: t('placeholder.user.password'), required: true %>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-12">
          <button type="submit" class="btn btn-flat btn-black pull-right">
            <%= t('links.sign_in') %>
          </button>
          <div class="checkbox icheck">
            <label>
              <!-- <input type="checkbox"> Remember Me -->
            </label>
          </div>
          <br/>
          <%= link_to t('links.register'), new_provider_user_registration_path %><br />
          <%= link_to 'Sign In as Marketing Staff', new_marketing_staff_user_session_path %> <br/>
          <%= link_to 'Sign In as Admin', new_admin_user_session_path %>
        </div>
        <!-- /.col -->
      </div>
    <% end %>
  </div>
  <!-- /.login-box-body -->
</div>
