<!-- Content Header (Page header) -->
<%= render 'shared/jwplayer_config' %>

 <div id="err-player"></div>

<section class="content-header">
  <h1>
    <%= t('heading.movies') %>
  </h1>
  <ol class="breadcrumb">
    <%= link_to admin_movies_path, method: :get do %>
      <i class="fa fa-fw fa-file-movie-o"></i> <span><%= t('heading.movie') %></span>
    <% end %>
    <li>  </li>
    <li class="active"><%= t('heading.show') %></li>
  </ol>
</section>

<% movie_thumbnail = @admin_movie.movie_thumbnail %>
<% movie_genre = @admin_movie.genre %>
<% not_available = t('label.not_available') %>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <%= render( partial: 'shared/flash_notification', locals: { notice: notice } ) %>
        <!-- /.box-header -->
        <div class="box-body">
          <div class= "player hide">
            <div id="flim_video">
            </div>
          </div>

          <div class="row">
            <div class="col-lg-2 col-md-1 col-sm-12"></div>
            <div class="col-lg-8 col-md-10 col-sm-12">
              <div class="box box-primary">
                <div class="box-header with-border">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <h2 class="box-title text-blue">
                        <%= @admin_movie.name || not_available %>
                      </h2>
                      <p class="margin-btm-zero">
                        <%= movie_posted_on_details_for(@admin_movie) %>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="box-body">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                          <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                          <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                        </ol>
                        <div class="carousel-inner">
                          <% movie_thumbnail.thumb_screenshots_arr.each_with_index do |screenshot, index| %>
                            <div class="item <%= 'active' if index.zero? %>">
                              <%= image_tag(screenshot.presence || '', class: "movie_thumbnail") if movie_thumbnail.present? %>
                              <div class="carousel-caption">
                              </div>
                            </div>
                          <%end%>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                          <span class="fa fa-angle-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                          <span class="fa fa-angle-right"></span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 padding-zero">
                          <div class='box box-primary movie-block-box-primary'>
                            <div class="box-header with-border text-center movie-block-box-header">
                              <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                  <h3 class="box-title text-blue">
                                    <%= t('title.movie.genre') %>
                                  </h3>

                                  <p class="margin-btm-zero"><%= movie_genre.try(:name) || not_available %></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 padding-zero">
                          <div class="box box-primary movie-block-box-primary">
                            <div class="box-header with-border text-center movie-block-box-header">
                              <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                  <h3 class="box-title text-blue">
                                    <%= t('title.movie.directed_by') %>
                                  </h3>
                                  <p class="margin-btm-zero"><%= @admin_movie.directed_by || not_available %></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 padding-zero">
                          <div class="box box-primary movie-block-box-primary">
                            <div class="box-header with-border text-center movie-block-box-header">
                              <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                  <h3 class="box-title text-blue">
                                    <%= t('title.movie.released_on') %>
                                  </h3>
                                  <p class="margin-btm-zero"><%= formatted_released_date_for(@admin_movie) %></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="padding-left: 0px;">
                          <div class="box box-primary movie-block-box-primary">
                            <div class="box-header with-border text-center movie-block-box-header">
                              <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                  <h3 class="box-title text-blue">
                                    <%= t('title.movie.stars_cast') %>
                                  </h3>
                                  <p class="star_cast"><%= @admin_movie.star_cast || not_available  %></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="box box-primary movie-block-box-primary">
                            <div class="box-header with-border text-center">
                              <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">

                                  <%= render( partial: 'movie_and_trailer_players', locals: { movie: @admin_movie } ) %>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="box box-primary movie-description-box">
                            <div class="box-header with-border">
                              <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                  <h3 class="box-title text-blue">
                                    <%= t('title.movie.movie_story') %>
                                  </h3>
                                  <p class="margin-btm-zero"><%= @admin_movie.description %></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-1 col-sm-12"></div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->

<script type="text/javascript">
  isEmptyValue = function(value) {
    return (undefined === value || null === value || "" === value)
  }

  jwPlayerConfigContainer = function() {
    return $('#jwPlayerConfigContainer');
  };

  caption_data = []
  <% @admin_movie.movie_captions.active_caption.each do |caption| %>
    var stringValue = "<%= caption.is_default  %>";
    var boolValue = stringValue.toLowerCase() == 'true' ? true : false;   //returns true

    caption_data.push({
      file: "<%= caption.caption_file_cloudfront_url %>",
      label: "<%= caption.language %>",
      kind: "captions",
      default: boolValue
    })
  <% end %>

  jwplayer_setup = function() {
    var jwPlayerConfig = jwPlayerConfigContainer();
    var hlsUrl = jwPlayerConfig.data('hls-file');
    var originalUrl = jwPlayerConfig.data('original-file');
    var trailerFileUrl = jwPlayerConfig.data('trailer-file');

    var sources = [{
              file: hlsUrl
            }]

    var videoObject = document.querySelector("div[data-embed-url='video-url1']");
    videoObject.id = "player-1";
    var newplayerInstance = window.jwplayer(videoObject);
    window.player2 = newplayerInstance;
    newplayerInstance.setup({
      sources: sources,
      hlshtml: true,
      tracks: caption_data,
      allowscriptaccess: 'always',
      allownetworking: 'all'
    });

    if (!isEmptyValue(trailerFileUrl)) {
      var trailerSources = [{
                file: trailerFileUrl
              }]

      var trailerVideoObject = document.querySelector("div[data-embed-url='video-url2']");
      trailerVideoObject.id = "player-2";
      var newplayerInstance = window.jwplayer(trailerVideoObject);
      window.player2 = newplayerInstance;
      newplayerInstance.setup({
        sources: trailerSources,
        allowscriptaccess: 'always',
        allownetworking: 'all'
      });
    }
  };

  jwplayer_setup_error = function() {
    jwplayer().on('setupError',function(er){
      $('.full-screen-play').removeClass('full-screen-play');

      $('#err-player').html('<div class="alert alert-danger alert-dismissible" style="margin-top: 12px;"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>'+ er.message +'</div>');
    });
  };

  bindChangeEventOnBrowserScreens = function() {
    $(document).on('webkitfullscreenchange mozfullscreenchange fullscreenchange MSFullscreenChange', function(el){

      var state = document.fullScreen || document.mozFullScreen || document.webkitIsFullScreen || document.msFullscreenElement;
      if (state != true){
        jwplayer("flim_video").pause(true);
        $(".player").addClass('hide');
      } else{
        jwplayer("flim_video").play(true);
      }
    });
  };

var ready;

ready = function() {
  console.log('>>>>> invoked `ready` function >>>>>');

  jwplayer.key = jwPlayerConfigContainer().data('jwplayer-key');

  if (jwPlayerConfigContainer().length) {
    bindChangeEventOnBrowserScreens();
    jwplayer_setup();
    jwplayer_setup_error();
  }
};

$(document).ready(ready);
$(document).on('turbolinks:load', ready);

</script>