<%= javascript_include_tag 'android.js' %>
<% user = @user_payment_method.user %>
<div class="container">
  <div class="row m-t-20">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h3 class="color-pink m-b-10">Please confirm your information</h3>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-xs-6 m-t-20">
        <span class="color-gray"><%= params[:registration_plan] %> Plan</span>
      </div>
      <div class="col-xs-6 m-t-20">
        <span class="color-pink pull-right" id="change_plan">Change plan</span>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-xs-6 m-t-20">
        <span class="color-gray"><%= price_rate_of_plan(params[:registration_plan]) %></span>
      </div>
      <div class="col-xs-6 m-t-20">
        <span class="color-gray pull-right"> <%= Time.now.strftime("%d/%b/%Y") %> </span>
      </div>
    </div>
  </div>
  <%= form_for @user_payment_method, url: "/android_payment_process_for_old_user/#{user.id}", html:{method: "patch", id: "payment_method"}  do |f| %>
    <%= hidden_field_tag :registration_plan, params[:registration_plan] %>
    <div class="col-sm-12 ">
      <div class="row">
        <% if user.is_invalid_email? || user.email.nil? %>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 m-t-20">
            <div class="form-group android-new-email">
              <%= text_field_tag :new_email, user.email, class: "form-control", id: "new_email" %>
              <label class="control-label" for="new_email" style="left:0;">Enter new email</label>
              <i class="bar"></i>
            </div>
          </div>
        <% else %>
          <div class="col-xs-6 m-t-20">
            <span class="color-pink"> Email: </span>
          </div>
          <div class="col-xs-6 m-t-20">
            <span class="color-gray pull-right"> <%= user.email %> </span>
          </div>
        <% end %>
      </div>
    </div>

    <%= render partial: 'android_payment_form', locals: {f: f} %>
  <% end %>
</div>
<div class="backdrop"></div>
<div class="la-ball-clip-rotate-multiple app-loader">
  <div></div>
  <div></div>
</div>

<script type="text/javascript">

  $('#change_plan').click(function(event) {
    console.log("clicked")
    app.Click();
  });

  var $form = $('#payment_method');
  Stripe.setPublishableKey($('meta[name="stripe-key"]').attr('content'));
  $('#btnSubmit').click(function(event) {
    console.log("button click")
    if ($("#payment_method").valid()) {
      $(".app-loader").show();
      $(".backdrop").show();
      if (check_stripe == 1) {
        Stripe.card.createToken($form, stripeResponseHandler);
        // Prevent the form from being submitted:
        console.log("in side if")
        return false;
      }
      $('#payment_method')[0].submit(function(event) {
        /* Act on the event */
        console.log("form submit")
        $form.find('#btnSubmit').prop('disabled', true);
        // Request a token from Stripe:
      });
    }
  });

  var check_stripe;

  function stripeResponseHandler(status, response) {
    console.log("in side")
    if (response.error) { // Problem!
      // Show the errors on the form:
      $form.find('.payment-errors').text(response.error.message).show();
      $form.find('#btnSubmit').prop('disabled', false); // Re-enable submission
      $(".app-loader").hide();
      $(".backdrop").hide();
    } else { // Token was created!
      // Get the token ID:
      var token = response.id;

      // Insert the token ID into the form so it gets submitted to the server:
      $form.append($('<input type="hidden" name="stripeToken" id="token">').val(token));

      // Submit the form:
      check_stripe = 0;
      $form.find('#submit').prop('disabled', false); // Re-enable submission
      $('#submit').click();
      $('#payment_method')[0].submit()
    }
  };

</script>
