<% hide_next_link =  !@serial.persisted? %>
<% hide_prev_link ||= false %>

<h3 class="provider-title provider-upload-title"> 
  <strong>
    <% unless hide_prev_link %>
      <a class="previous-stage" href="<%= previous_wizard_path(slug: @serial.slug) %>" title="Go to previous step">
        <%= image_tag('provider/back.svg', alt: 'back icon', class: "icon arrow-back")  %>
      </a>
    <% end %>
    <span class="pl100"><%= action_name == 'show' ? 'Add' : 'Edit' %> <%= step == 'add_episode' ? 'Episode' : 'Series' %></span> <!-- FIXME -->
    <% unless hide_next_link %>
      <% url = (request.url.include?('/edit?')) ? wizard_path(:add_trailer,slug: @serial.slug) : next_wizard_path(slug: @serial.slug) %>
      <a class="next-stage" href="<%= url %>" title="Jump to next step">
        <%= image_tag('provider/back.svg', alt: 'next icon', class: "icon arrow-next")  %>
      </a>
    <% end %>
  </strong>
</h3>