<!-- Main content -->
<section class="content pl20">
    <h1>
    <%= @provider_serial.genre.name %>
  </h1>
  <div class="row">
    <div class="col-xs-12">
      <div class="">
        <div class="box-header">
          <div class="row">
            <div class="col-lg-12 col-xs-12">
              <h3 class="box-title">Editing serie "<%= @provider_serial.title %>"</h3>
            </div>
          </div>
        </div>

        <div class="pt20">
          <%= render( partial: 'form', locals: { is_edit_mode: true } ) %>
          <br />
          <%= render partial: 'episodes', locals: {serial: @provider_serial} %>
          <br/>
          <%= render partial: 'choose_season_add_episode', locals: {serial: @provider_serial} %>

        </div>
      </div>
    </div>
  </div>
</section>


<%= javascript_include_tag 'admin/movie_player_init.js' %>