<section class="content-for-provider p20">

  <div class="row mt10">
    <div class="col-lg-4 col-xs-12"></div>

    <div class="col-lg-4 col-xs-12">
   
      <%= render partial: 'title_and_prev_link', locals: {hide_prev_link: true} %>

      <div class="p20 mt10">
        <div class="mt20" style="height: 20px;">
          <div class="pull-left"><h4>Details</h4></div><div class="pull-right">1/5 steps</div>
        </div>

      <% f_method, url = !@serial.persisted? ? [:post, provider_serials_path] : [:put, provider_serials_path + "/add_details?slug=#{@serial.slug}"] %>

      <%= form_with model: @serial, scope: 'serial', url: url, method: f_method, class: 'mt40' do |f| %>

        <% if @serial.errors.any? %>
          <div class="row">
            <div class="col-md-12">
              <% @serial.errors.full_messages.each do |message| %>
                <div class="callout callout-success">
                  <p><%= message %></p>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

        <div class="row bg-gr">
          <div class="col-md-12" style="padding: 20px 0">
            <!-- general form elements -->

            <div class="form-group">
              <%= f.label :title %>
              <%= f.text_field( :title,
                                class: "form-control",
                                placeholder: t('placeholder.serial.title')) %>
            </div>

            <div class="form-group">
              <%= f.label :audio %>
              <%= f.text_field( :language,
                                class: "form-control",
                                placeholder: t('placeholder.serial.language')  ) %>
            </div>

            <div class="form-group">
              <%= f.label :genre %>
              <%= f.collection_select( :admin_genre_id,
                                       Genre.alfa_order,
                                       :id,
                                       :name,
                                       { include_blank: t(:SelectGenre) },
                                       class: "form-control" ) %>
            </div>

            <div class="form-group">
              <%= f.label :star_cast %>
              <%= f.text_field( :star_cast,
                                class: "form-control",
                                placeholder: t('placeholder.serial.star_cast')) %>
            </div>

            <div class="form-group">
              <%= f.label :directed_by %>
              <%= f.text_field( :directed_by,
                               class: "form-control",
                               placeholder: t('placeholder.serial.directed_by') ) %>
            </div>

            <div class="form-group">
              <%= f.label :description %>
              <%= f.text_area( :description,
                               rows: 5,
                               class: "form-control",
                               placeholder: t('placeholder.serial.description') ) %>
            </div>

            <div class="form-group">
              <%= f.label :number_of_seasons %>
              <%= f.number_field( :seasons_number,
                               class: "form-control",
                               placeholder: t('placeholder.serial.seasons_number') ) %>
            </div>

            <div class="form-group">
              <div class="pull-left" style="width: 47%">
                <%= f.label :release_year %>
                <%= f.date_field( :year,
                                  class: "form-control",
                                  placeholder: "Choose #{t('placeholder.serial.released_date')}") %>
              </div>

              <div class="pull-right" style="width: 47%">
                <%= f.fields_for :rate, @rate do |ff| %>
                <%= ff.label :rent_price %>
                <%= ff.text_field( :price,
                                  class: "form-control",
                                  placeholder: "$23") %>
                <% end %>
              </div>
            </div>

          </div>


          <div class="box-footer pt20">
            <%= f.button 'Continue', "data-disable-with": "Saving...", class: "btn btn-flat btn-black", type: 'submit' %>
          </div>

        </div>
      <% end %>


      <section>
        <div class="field">
          <%#= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: ' your name', required: true %>
        </div>

        <div class="field">
          <%#= f.submit "Save",  data: { "disable-with": "Saving..." }, class: 'btn btn-flat btn-black btn-block' %>
        </div>
      </section>

      <span class="errors help-block"><ul></ul></span>
        
    </div>
    <div class="col-lg-4 col-xs-12"></div>
  </div>

</section>