<%= javascript_include_tag 'admin/flot/jquery.flot.min.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'admin/flot/jquery.flot.resize.min.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'admin/flot/jquery.flot.pie.min.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'admin/flot/jquery.flot.categories.min.js', 'data-turbolinks-track' => true %>


<!-- Main content -->
<section class="content">
  <!-- Small boxes (Stat box) -->

  <div class="p20">
    <h3>Dashboard</h3>
    <div class="row">
      <div class="col-lg-3 col-xs-6">
        Reports for <input type="date" value="2018-01-01" id="stats_date" min="2018-01-01" max="2018-12-31" />
      </div>
      <div class="col-lg-3 col-xs-6"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-white stat-box">
        <div class="inner">
          <h4>New Movies</h4>
          <p><%#= get_total_movie_count %>999</p>
        </div>
        <div class="icon">
          <i class="ion ion-film-marker"></i>
        </div>
<!--         <%#= link_to admin_movies_path, class: "small-box-footer" do %>
          More info <i class="fa fa-arrow-circle-right"></i>
        <#% end %> -->
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-white stat-box">
        <div class="inner">
          <h4>Total Income of <%=  Date.today.strftime('%b, %Y') %></h4>
          <p><%#= get_formatted_total_amount(@total_income_of_current_month) %>888 </p>
        </div>
        <div class="icon">
          <!-- <i class="ion ion-cash"></i> -->
          <i class="ion ion-social-usd"></i>
        </div>
<!--         <%#= link_to admin_premium_users_path, class: "small-box-footer" do %>
          More info <i class="fa fa-arrow-circle-right"></i>
        <%# end %> -->
      </div>
    </div>

    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-white stat-box">
        <div class="inner">
          <h4>Unique Visitors</h4>
          <p><%#= get_visitor_count %>777 </p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
<!--         <%#= link_to admin_visitors_path, method: "GET", class: "small-box-footer" do %>
          More info <i class="fa fa-arrow-circle-right"></i>
        <%# end %> -->
      </div>
    </div>
    <!-- ./col -->
  </div>
  <!-- /.row -->


	<div class="row">

    <div class="col-md-6" style="display: block">
      <!-- Donut chart -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <i class="fa fa-bar-chart-o"></i>
          <h3 class="box-title">Posted Movies</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div>
        </div>
        <div class="box-body">
          <div id="bar-chart" style="height: 300px;"></div>
        </div>
        <!-- /.box-body-->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
	</div>
	<!-- /.row -->

  <div class="col-md-6" style="display: none">
  <!-- Line chart -->
  <div class="box box-primary">
    <div class="box-header with-border">
      <i class="fa fa-bar-chart-o"></i>
      <h3 class="box-title" id="chat_title">Revenue Chart</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div>
    <div class="box-body">
      <div class="col-lg-4 col-md-12">
        <label>Change Month</label>
        <select name="unique_month_wise" id="unique_month_wise" class="form-control">
          <% @unique_month_wise.each do |u_m| %>
            <option value="<%= u_m.strftime('%m-%Y') %>"><%= u_m.strftime('%B, %Y') %></option>
          <% end %>
        </select>
        <br/>
      </div>
      <div class="col-lg-8 col-md-12">
        <div id="graph2" style="height: 300px;"></div>
      </div>
    </div>
    <!-- /.box-body-->
  </div>
  <!-- /.box -->
</div>
<!-- /.col -->

</section>
<!-- /.content -->


<script>

  // Pie chart JS code
  $(function () {
    return; // tmp off
    $("select#unique_month_wise option:last").attr("selected","selected");
    var valueSelected = $('select#unique_month_wise option:selected').val();
    var textSelected = $('select#unique_month_wise option:selected').text();
    $("#chat_title").empty().append("Revenue Chart for "+textSelected);
    ajaxLoadData(valueSelected);
  });

	function ajaxLoadData (valueSelected) {
		$.ajax({
      type: "GET",
      url: "/admin/get_monthly_revenue/"+valueSelected,
      async: false,
      cache: false,
      timeout: 30000,
      success:function(response)
      {
        drawPieChart(response);
      },
      error:function (xhr, ajaxOptions, thrownError)
      {
        //On error, we alert user
        alert(thrownError);
      }
    });
	}

  function drawPieChart(data)
  {
    // GRAPH 3
    $.plot($("#graph2"), data,
    {
      series: {
        pie: {
          show: true,
          radius: 1,
          label: {
            show: true,
            radius: 3/4,
            formatter: function(label, series){
              return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">  '+Math.round(series.percent)+'%</div>';
            },
            background: { opacity: 0.5 }
          }
        }
      }
    });
  }

	/*
   * BAR CHART
   * ---------
  */
  var bar_data = {
    data: m_months,
    color: "#3c8dbc"
  };
  $.plot("#bar-chart", [bar_data], {
    grid: {
      borderWidth: 1,
      borderColor: "#f3f3f3",
      tickColor: "#f3f3f3"
    },
    series: {
      bars: {
        show: true,
        barWidth: 0.5,
        align: "center"
      }
    },
    xaxis: {
      mode: "categories",
      tickLength: 0
    },
    yaxis: {
      tickDecimals: 0
    }
  });
  /* END BAR CHART */

</script>