<%= javascript_include_tag 'admin/flot/jquery.flot.min.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'admin/flot/jquery.flot.resize.min.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'admin/flot/jquery.flot.pie.min.js', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'admin/flot/jquery.flot.categories.min.js', 'data-turbolinks-track' => true %>


<div class="pl40">
  <div class="mt20">
    <h3>Dashboard</h3>
    <div class="row mt20">
      <div class="col-lg-3 col-xs-6">
        Reports for <input type="date" value="2018-01-01" id="stats_date" min="2018-01-01" max="2018-12-31" />
      </div>
      <div class="col-lg-3 col-xs-6"></div>
    </div>
  </div>

  <div id="stat_boxes" class="row mt20">
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-white stat-box">
        <div class="inner">
          <h4>New Movies</h4>
          <p><%= @monthly_movies_cnt.length %></p>
        </div>
        <div class="icon">
          <i class="ion ion-film-marker"></i>
        </div>
<!--         <%#= link_to admin_movies_path, class: "small-box-footer" do %>
          More info <i class="fa fa-arrow-circle-right"></i>
        <#% end %> -->
      </div>
    </div>
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-white stat-box">
        <div class="inner">
          <h4>Total Income of <%=  Date.today.strftime('%b, %Y') %></h4>
          <p><%= get_formatted_total_amount(@total_income_of_current_month) %></p>
        </div>
        <div class="icon">
          <!-- <i class="ion ion-cash"></i> -->
          <i class="ion ion-social-usd"></i>
        </div>
<!--         <%#= link_to admin_premium_users_path, class: "small-box-footer" do %>
          More info <i class="fa fa-arrow-circle-right"></i>
        <%# end %> -->
      </div>
    </div>

    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-white stat-box">
        <div class="inner">
          <h4>Unique Visitors</h4>
          <p><%=  @unique_month_wise.count %></p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
<!--         <%#= link_to admin_visitors_path, method: "GET", class: "small-box-footer" do %>
          More info <i class="fa fa-arrow-circle-right"></i>
        <%# end %> -->
      </div>
    </div>
  </div>

	<div class="row">

    <div class="col-md-6" style="display: block">
      <!-- Donut chart -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <i class="fa fa-bar-chart-o"></i>
          <h3 class="box-title">New Movies</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div>
        </div>
        <div class="box-body">
          <div id="bar-chart" style="height: 300px;"></div>
        </div>
      </div>
    </div>
	</div>


  <div class="col-md-6" style="display: none">
  <!-- Line chart -->
    <div class="box box-primary">
    <div class="box-header with-border">
      <i class="fa fa-bar-chart-o"></i>
      <h3 class="box-title" id="chat_title">Unique Visitors</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div>
    <div class="box-body">
      <div class="col-lg-4 col-md-12">
        <label>Change Month</label>
        <select name="unique_month_wise" id="unique_month_wise" class="form-control">
          <% @unique_month_wise.each do |u_m| %>
            <option value="<%= u_m.strftime('%m-%Y') %>"><%= u_m.strftime('%B, %Y') %></option>
          <% end %>
        </select>
        <br/>
      </div>
      <div class="col-lg-8 col-md-12">
        <div id="graph2" style="height: 300px;"></div>
      </div>
    </div>
    </div>
  </div>
</div>

<script type="text/javascript"> 

  var m_months = JSON.parse("<%= escape_javascript @m_months.to_json.html_safe %>");

  console.log('m_months:', m_months);

</script>