<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <%= page_heading %>
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <% if !notice.blank? %>
            <div class="row">
              <div class="col-md-12">
                <div class="alert alert-success alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <%= notice %>
                </div>
              </div>
            </div>
          <% end %>
          <div class="row">
            <div class="col-lg-10 col-xs-12">
              <h3 class="box-title"><%= table_heading %></h3>
            </div>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body admin-box-body">
          <div class="row">
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="box box-primary">
                <!-- /.box-header -->
                <div class="box-body">
                  <table id="tbl_admin_users" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th><%= t('table.admin_side_users.user_name') %></th>
                        <th><%= t('table.admin_side_users.email')%></th>
                        <th><%= t('table.admin_side_users.sign_up_from')%></th>
                        <th><%= t('table.admin_side_users.registration_plan')%></th>
                        <th><%= t('table.admin_side_users.subscription_status')%></th>
                        <th><%= t('table.admin_side_users.registration_date')%></th>
                        <th><%= t('table.admin_side_users.action')%></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% users.each do |user| %>
                        <tr>
                          <td data-title="User Name" data-uid=<%= user.id %> ><%= user.name %></td>
                          <td data-title="Email"><%= user.email %></td>
                          <td data-title="<%= t('table.admin_side_users.sign_up_from')%>">
                            <%= user.sign_up_from.try(:humanize) %>
                          </td>
                          <td data-title="<%= t('table.admin_side_users.registration_plan')%>">
                            <%= user.registration_plan %>
                          </td>
                          <td data-title="<%= t('table.admin_side_users.subscription_status')%>">
                            <%= user.subscription_plan_status %>
                          </td>
                          <td data-title="Registration Date"><%= user.created_at.to_s(:full_date_abbr_month_and_year_format) %></td>
                          <td data-title="Action">
                            <%= link_to( admin_user_path(user),
                                         class: "text-red",
                                         method: :delete,
                                         data: { confirm: 'Are you sure?' } ) do %>
                              <i class="fa fa-fw fa-trash"></i>
                            <% end %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->

<script type="text/javascript">
  $('#tbl_admin_users').dataTable({
    "paging": true,
    "lengthChange": true,
    "searching": true,
    "ordering": true,
    "info": true,
    "autoWidth": false,
    "aoColumnDefs": [
      { 'bSortable': false, 'aTargets': [ 6 ] }
    ]
  });
</script>
