<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <%= page_heading %>
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <% if !notice.blank? %>
            <div class="row">
              <div class="col-md-12">
                <div class="alert alert-success alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <%= notice %>
                </div>
              </div>
            </div>
          <% end %>
          <div class="row">
            <div class="col-lg-10 col-xs-12">
              <h3 class="box-title"><%= table_heading %></h3>
            </div>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body admin-box-body">
          <div class="row">
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="box box-primary">
                <!-- /.box-header -->
                <div class="box-body">
                  <table id="tbl_admin_users" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th><%= t('table.admin_side_users.user_name') %></th>
                        <th><%= t('table.admin_side_users.email')%></th>
                        <th><%= t('table.admin_side_users.registration_date')%></th>
                        <th><%= t('table.admin_side_users.action')%></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% users.each do |user| %>
                        <tr>
                          <td data-title="User Name" data-uid=<%= user.id %> ><%= user.name %></td>
                          <td data-title="Email"><%= user.email %></td>
                          <td data-title="Registration Date"><%= user.created_at.strftime('%d %B %Y') %></td>
                          <td data-title="Action">
                            <%= link_to( admin_user_path(user),
                                         class: "text-red",
                                         method: :delete,
                                         data: { confirm: 'Are you sure?' } ) do %>
                              <i class="fa fa-fw fa-trash"></i>
                            <% end %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
<% details_open_image_path = asset_path('admin/details_open.png') %>
<script type="text/javascript">
  /* TODO: Need to move this to JS files and also check and split this complex functions. */
  var detailsOpenImagePath = "<%= details_open_image_path %>";
  var detailsCloseImagePath = "<%= asset_path('admin/details_close.png') %>";

  <% if show_payment_table %>
    var iTableCounter = 1,oTable,oInnerTable;
    function fnFormatDetails ( nTr )
    {
      // var aData = oTable.fnGetData( nTr );
      var user_id = nTr.children[1].getAttribute('data-uid')
      var sOut = $.ajax({
        type: "GET",
        url: "/admin/get_user_payment_details/"+user_id,
        async: false,
        cache: false,
        timeout: 30000,
        success:function(response)
        {
          return response;
        },
        error:function (xhr, ajaxOptions, thrownError)
        {
          //On error, we alert user
          alert(thrownError);
        }
      });
      return sOut;
    }
    /* Add event listener for opening and closing details
      * Note that the indicator for showing which row is open is not controlled by DataTables,
      * rather it is done here
    */
    function openPaymentTable (i) {
      var nTr = $("#payment_"+i).parents('tr')[0];
      if ( oTable.fnIsOpen(nTr) )
      {
        /* This row is already open - close it */
        $("#payment_"+i).children("img")[0].src = detailsOpenImagePath;
        oTable.fnClose( nTr );
      }
      else
      {
        /* Open this row */
        $("#payment_"+i).children("img")[0].src = detailsCloseImagePath;
        var data = fnFormatDetails(nTr);
        $.when(data).then(function(theData) {
          var tbl_payment = "<div class=\"row\"><div class=\"col-lg-10 col-xs-12\"><h4 class=\"box-title\">Payment details</h4></div></div>";
          tbl_payment += "<table id=\"exampleTable_" + i + "\"  class=\"table table-bordered table-hover\" >";
          tbl_payment += "<thead> <tr> <th>First Name</th> <th>Last Name</th> <th>Payment Type</th> <th>Service Period</th> <th>Amount</th> </tr> </tr> </thead> <tbody>";
          var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
          $.each( theData, function( index, value ){
            var first_name = value.first_name ? value.first_name : " --- ";
            var last_name = value.last_name ? value.last_name : " --- ";
            var expiration_month = value.expiration_month ? monthNames[(value.expiration_month - 1)]+"," : "";
            tbl_payment += "<tr> <td>"+first_name+"</td> <td>"+last_name+"</td><td>"+value.payment_type+"</td><td>"+value.service_period+"</td><td>$"+value.amount+"</td> </tr>";
          });
          tbl_payment += "</tbody> </table>";

          oTable.fnOpen(nTr, tbl_payment, 'details' );
          oInnerTable = $("#exampleTable_" + i).dataTable({bFilter: false, bInfo: false,bLengthChange: false,bPaginate: false});
        });
      }
    }

      /*
       * Insert a 'details' column to the table
       */
      var nCloneTh = document.createElement( 'th' );
      var nCloneTd = document.createElement( 'td' );

      $('#tbl_admin_users thead tr').each( function () {
        this.insertBefore( nCloneTh, this.childNodes[0] );
      } );

      $('#tbl_admin_users tbody tr').each( function (i) {
         nCloneTd.innerHTML = '<a href="" onClick="openPaymentTable('+i+'); return false;" id="payment_'+i+'"> <img src="<%= details_open_image_path %>"> </a>';
          nCloneTd.className = "center";
        this.insertBefore(  nCloneTd.cloneNode( true ), this.childNodes[0] );
      } );

      /*
       * Initialse DataTables, with no sorting on the 'details' column
       */
      oTable = $('#tbl_admin_users').dataTable({
        "paging": true,
        "lengthChange": true,
        "sScrollX": "auto",
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "aoColumnDefs": [
          { 'bSortable': false, 'aTargets': [ 0,4 ] }
        ],
        "aaSorting": [[1, 'asc']]
      });
    
    <% else %>
      $('#tbl_admin_users').dataTable({
        "paging": true,
        "lengthChange": true,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "aoColumnDefs": [
          { 'bSortable': false, 'aTargets': [ 3 ] }
        ]
      });
  <% end %>
</script>
